---
import GithubIcon from "../icons/GithubIcon.astro";
import ProjectCards from "./ProjectCards.astro";
---

<main id="projects" class="md:mt-[10rem] mt-[6rem]">
  <section class="flex items-center gap-x-2">
    <GithubIcon class="stroke-white size-10"/>
    <p class="md:text-3xl text-xl font-extrabold text-white">My Projects</p>
  </section>
  <section>
    <ProjectCards />
  </section>
</main>
