---

---
<header class="sticky top-0 bg-[#1C1C1C]/10 h-[3rem] p-1 backdrop-blur-lg z-50">
  <nav class="flex justify-center text-xs font-inter font-semibold text-white md:gap-7 gap-4 mt-3">
    <a href="/#experience" class="hover:text-blue-400 duration-200 transition-all">Experience</a>
    <a href="/#projects" class="hover:text-blue-400 duration-200 transition-all">Projects</a>
    <a href="/contactme" class="hover:text-blue-400 duration-200 transition-all">Contact me</a
  </nav>
</header>
