---
interface Props {
  url: string;
}

const {url} = Astro.props;
---

<a
  href={url}
  class="border-white/10 px-6 py-2 font-bold text-white rounded-lg border hover:bg-white/10 duration-200 transition-all flex justify-center items-center gap-3" >
  <slot/>
</a>
